table {
  border-collapse: collapse;
  width: 75%;
  margin: 0 auto;
  color: hsl(0, 0%, 85%);
}

th,
td {
  padding: 8px;
  text-align: center;
}

tr:nth-child(even) {
  background-color: #222222;
}

.disclaimerText {
  margin-top: 15px;
  font-size: 12px;
  color: hsla(0, 0%, 85%, 0.61);
}
